<div class="container" id="user-links-index-container">
  <h2>Your links so far:</h2>

  <div class="row">
    <% @user_links.each do |link| %>
        <%= render 'partials/link_card', link: link %>
    <% end %>
  </div>

</div>
