
You have succesfully added the following link:

<p>URL: <%= @user_link.link.url %></p>
<p>Title: <%= @user_link.link.title %></p>
<p>Description: <%= @user_link.link.description %></p>
<p>Group: <%= @user_link.link.group %></p>