<div class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"><%= @link.link.title %></h4>
    <p class="card-text"><%= @link.link.description %></p>
    <a href="<%= @link.link.url %>" class="btn btn-primary">Go to Link</a>
  </div>
</div>