<%= form_tag('/user_links/create', method: 'post', class: "form-inline") do %>
    <div class="form-group" id="user-links-new-form">
        <%= text_field_tag(:url, nil, class: 'form-control', placeholder: 'Enter URL here', type: 'url', id: 'user_links_new_input') %>
        <br>
        <%= submit_tag('Save', class: 'btn btn-primary', id: 'user_links_new_button') %>
    </div>

<% end %>

