<div class="ui grid">
    <div class="twelve wide column">
      <% if current_user_recent_links %>
          <%= render 'partials/recent_entries'%>
      <% end %> <%#recent links %>
    </div>

    <div class="four wide column">
      <% if current_user_feeds %>
          <h3>Latest Feed Posts:</h3>
          <br>
          <% newest_feed_entries.each do |entry| %>
              <%= render 'partials/rss_feed', entry: entry %>
          <% end %>
      <% end %> <%#recent feeds %>
    </div>
</div>

