.card-media {
  margin-left: 5%;
  height: 200px;
  width: 90%;
}

.card-title {
  text-align: justify;
  text-justify: inter-word;
}

.user-links-card-deck .user-link-card-div {
  display: table-cell;
  margin-bottom: 0;
  vertical-align: top;
}
