.card-media .card-thumbnail-media {
  height: 75px;
  width: 75px;
}

.card.user-link-card-div {
  max-width: 256px;
}

.link-options-dropdown-div {
  margin: 0;
  padding: 0;
}

.link-card-description-text {
  font-size: 85%;
}

.link-card-footer-text {
  font-size: 85%;
}

.link-card-embedded-media {
  margin-bottom: 3px;
}