#user_links_new_input {
  width: 300px;
}

#user_links_new_button {
  margin-top: 10px;
}

.nav-user-dropdown-link {
  margin-right: 30px;
}

.nav-user-dropdown-menu {
  width: 221px
}

.nav-bar-new-link-modal-content {
  width: 350px;
}