// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home-user-links-each {
  border-style: solid;
  margin-bottom: 5px;
  margin-left: 1%;
  padding: 5px;
}

#home-user-links-container {
  margin-left: 1% ;
  padding: 1% ;
}

#home-user-links-each-title {
  font-weight: bold;
}