// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui.grid{
  margin:0;
}

.user-latest-feeds {
  height: 100vh;
  overflow-x: auto;
}

.user-recent-links {
  height: 100vh;
  overflow-x: auto;
}